#
# Distributed Linear Algebra with Future (DLAF)
#
# Copyright (c) 2018-2023, ETH Zurich
# All rights reserved.
#
# Please, refer to the LICENSE file in the root directory.
# SPDX-License-Identifier: BSD-3-Clause
#

packages:
  all:
    target: [x86_64]
  # Set intel MKL as default blas, lapack and scalapack provider.
  # Can be overwritten in environments if needed.
  blas:
    require: 'intel-mkl'
  lapack:
    require: 'intel-mkl'
  scalapack:
    require: 'intel-mkl'
  mpi:
    require: 'mpich'
  blaspp:
    variants:
      - '~cuda'
      - '~openmp'
      - '~rocm'
  intel-mkl:
    variants:
      - 'threads=openmp'
  openblas:
    variants:
      - 'threads=openmp'
  mpich:
    # Requirement for ABI compatibility on the test system
    require:
      - '@3.4.2'
    variants:
      - '~fortran'
      - '~libxml2'
  hwloc:
    variants:
      - '~libxml2'
  git:
    # Force git as non-buildable to allow deprecated versions in environments
    # https://github.com/spack/spack/pull/30040
    buildable: false
  pika:
    version:
      - git.release-0.21.X=main
