#
# Distributed Linear Algebra with Future (DLAF)
#
# Copyright (c) 2018-2022, ETH Zurich
# All rights reserved.
#
# Please, refer to the LICENSE file in the root directory.
# SPDX-License-Identifier: BSD-3-Clause
#

spack:
  specs:
    - dla-future@develop build_type=Debug +miniapps +ci-test ^openblas ^mpich
  view: false
  concretizer:
    unify:
      true

  packages:
    all:
      target: [x86_64]
      variants:
        - 'build_type=Release'
    blaspp:
      variants:
        - '~cuda'
        - '~openmp'
    pika:
      variants:
        - 'build_type=Debug'
        - 'malloc=system'
    mpich:
      version:
        - 3.4.2
      variants:
        - '~fortran'
    git:
      # Force git as non-buildable to allow deprecated versions in environments
      # https://github.com/spack/spack/pull/30040
      buildable: false
