#
# Distributed Linear Algebra with Future (DLAF)
#
# Copyright (c) 2018-2023, ETH Zurich
# All rights reserved.
#
# Please, refer to the LICENSE file in the root directory.
# SPDX-License-Identifier: BSD-3-Clause
#

spack:
  include:
  - common.yaml

  specs:
    - dla-future@develop build_type=Debug +miniapps +ci-test ^openblas ^mpich

  packages:
    all:
      variants:
        - 'build_type=Release'
    pika:
      variants:
        - 'build_type=Debug'
        - 'malloc=system'
