#
# Distributed Linear Algebra with Future (DLAF)
#
# Copyright (c) 2018-2023, ETH Zurich
# All rights reserved.
#
# Please, refer to the LICENSE file in the root directory.
# SPDX-License-Identifier: BSD-3-Clause
#

spack:
  include:
  - common.yaml

  view: false
  concretizer:
    unify:
      true

  specs:
    - pika@git.fix-free_stack-no-guard-pages +mpi +cuda
    - dla-future@master +cuda +miniapps +scalapack +ci-test ^intel-mkl threads=openmp ^mpich

  packages:
    all:
      variants:
        - 'build_type=Release'
