#
# Distributed Linear Algebra with Future (DLAF)
#
# Copyright (c) 2018-2023, ETH Zurich
# All rights reserved.
#
# Please, refer to the LICENSE file in the root directory.
# SPDX-License-Identifier: BSD-3-Clause
#

spack:
  include:
  - /spack_environment/common.yaml

  view: false
  concretizer:
    unify:
      true

  specs:
  - dla-future@master +rocm amdgpu_target=gfx90a:xnack- +miniapps +ci-test

  packages:
    all:
      variants:
      - build_type=Release
      - cxxstd=17
      - amdgpu_target=gfx90a:xnack-
    pika:
      require: '+stdexec'
    stdexec:
      require: '@git.48c52df0f81c6151eecf4f39fa5eed2dc0216204=main'
    blas:
      require: openblas
    lapack:
      require: openblas
    mpi:
      require: mpich ~rocm device=ch3 netmod=tcp
    llvm-amdgpu:
      externals:
      - spec: llvm-amdgpu@5.3.3 ~rocm-device-libs
        prefix: /opt/rocm-5.3.3/llvm
      buildable: false
    rocm-device-libs:
      externals:
      - spec: rocm-device-libs@5.3.3
        prefix: /opt/rocm-5.3.3
      buildable: false
    hip:
      externals:
      - spec: hip@5.3.3
        prefix: /opt/rocm-5.3.3
      buildable: false
    rocblas:
      externals:
      - spec: rocblas@5.3.3
        prefix: /opt/rocm-5.3.3
      buildable: false
    rocsolver:
      externals:
      - spec: rocsolver@5.3.3
        prefix: /opt/rocm-5.3.3
      buildable: false
    hsa-rocr-dev:
      externals:
      - spec: hsa-rocr-dev@5.3.3
        prefix: /opt/rocm-5.3.3
      buildable: false
