include:
#  - local: 'ci/cpu/asan_ubsan_lsan.yml'
#  - local: 'ci/cpu/clang15_release_cxx20.yml'
#  - local: 'ci/cpu/clang15_release_stdexec.yml'
#  - local: 'ci/cpu/clang15_release.yml'
#  - local: 'ci/cpu/clang16_release.yml'
#  - local: 'ci/cpu/clang18_release.yml'
#  - local: 'ci/cpu/gcc11_release_stdexec.yml'
#  - local: 'ci/cpu/gcc11_debug_stdexec.yml'
#  - local: 'ci/cpu/gcc12_release_cxx20.yml'
  - local: 'ci/cpu/gcc13_codecov.yml'
  - local: 'ci/cpu/gcc13_release.yml'
  - local: 'ci/cuda/gcc11_release.yml'
#  - local: 'ci/cuda/gcc11_release_scalapack.yml'
  - local: 'ci/cuda/gcc11_codecov.yml'
#  - local: 'ci/cuda/gcc11_debug_scalapack.yml'
#  - local: 'ci/cuda/gcc13_release_stdexec.yml'
#  - local: 'ci/rocm/clang14_release.yml'
#  - local: 'ci/rocm/clang14_release_stdexec.yml'
