#
# Distributed Linear Algebra with Future (DLAF)
#
# Copyright (c) ETH Zurich
# All rights reserved.
#
# Please, refer to the LICENSE file in the root directory.
# SPDX-License-Identifier: BSD-3-Clause
#
include:

  # This tests is needed to quickly check that TDS credentials are valid.
  - local: 'ci/rocm/test.yml'

  - local: 'ci/cpu/asan_ubsan_lsan.yml'
  - local: 'ci/cpu/clang15_release_cxx20.yml'
  - local: 'ci/cpu/clang15_release_stdexec.yml'
  - local: 'ci/cpu/clang15_release.yml'
  - local: 'ci/cpu/clang16_release.yml'
  - local: 'ci/cpu/clang18_release.yml'
  - local: 'ci/cpu/gcc11_release_stdexec.yml'
  - local: 'ci/cpu/gcc11_debug_stdexec.yml'
  - local: 'ci/cpu/gcc12_release_cxx20.yml'
  # https://github.com/eth-cscs/DLA-Future/pull/1311
  # - local: 'ci/cpu/gcc13_codecov.yml'
  - local: 'ci/cpu/gcc13_release.yml'
  - local: 'ci/cuda/gcc13_release.yml'
  - local: 'ci/cuda/gcc13_release_scalapack.yml'
  - local: 'ci/cuda/gcc13_debug.yml'
  - local: 'ci/cuda/gcc13_debug_scalapack.yml'
  - local: 'ci/cuda/gcc13_release_stdexec.yml'
  - local: 'ci/rocm/gcc12_release.yml'
  - local: 'ci/rocm/gcc12_release_stdexec.yml'
