include:
  - remote: 'https://gitlab.com/cscs-ci/recipes/-/raw/master/templates/v1/.cscs.yml'

stages:
  - build
  - test
  - notify

##
## BUILDS
##

.build_common:
  extends: .dind
  stage: build
  only:
    - master
    - staging
    - trying
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - BUILD_IMAGE=$BUILD_IMAGE_BASE`sha256sum $BUILD_DOCKER_FILE | head -c 64`
    - docker build -t $BUILD_IMAGE --cache-from $BUILD_IMAGE --build-arg BASE_IMAGE --build-arg BUILDKIT_INLINE_CACHE=1 -f $BUILD_DOCKER_FILE --network=host .
    - docker push $BUILD_IMAGE
    - docker build -t $DEPLOY_IMAGE --build-arg BUILD_IMAGE --build-arg DEPLOY_IMAGE --build-arg DLAF_WITH_CUDA -f $DEPLOY_DOCKER_FILE --network=host .
    - docker push $DEPLOY_IMAGE
    - docker run $DEPLOY_IMAGE cat /root/DLA-Future.bundle/pipeline.yml > pipeline.yml
  artifacts:
    paths:
      - pipeline.yml

# Builds a Docker image for the current commit
cpu release build:
  extends: .build_common
  variables:
    BUILD_DOCKER_FILE: ci/docker/release/build.Dockerfile
    DEPLOY_DOCKER_FILE: ci/docker/release/deploy.Dockerfile
    BUILD_IMAGE_BASE: "$CI_REGISTRY_IMAGE/release-cpu/build:"
    DEPLOY_IMAGE: $CI_REGISTRY_IMAGE/release-cpu/deploy:$CI_COMMIT_SHA
    DLAF_WITH_CUDA: 'OFF'
    BASE_IMAGE: ubuntu:18.04

cpu codecov build:
  extends: .build_common
  variables:
    BUILD_DOCKER_FILE: ci/docker/codecov/build.Dockerfile
    DEPLOY_DOCKER_FILE: ci/docker/codecov/deploy.Dockerfile
    BUILD_IMAGE_BASE: "$CI_REGISTRY_IMAGE/codecov-cpu/build:"
    DEPLOY_IMAGE: $CI_REGISTRY_IMAGE/codecov-cpu/deploy:$CI_COMMIT_SHA
    DLAF_WITH_CUDA: 'OFF'
    BASE_IMAGE: ubuntu:18.04

gpu release build:
  extends: .build_common
  variables:
    BUILD_DOCKER_FILE: ci/docker/release/build.Dockerfile
    DEPLOY_DOCKER_FILE: ci/docker/release/deploy.Dockerfile
    BUILD_IMAGE_BASE: "$CI_REGISTRY_IMAGE/release-gpu/build:"
    DEPLOY_IMAGE: $CI_REGISTRY_IMAGE/release-gpu/deploy:$CI_COMMIT_SHA
    DLAF_WITH_CUDA: 'ON'
    BASE_IMAGE: nvidia/cuda:10.2-devel-ubuntu18.04

gpu codecov build:
  extends: .build_common
  variables:
    BUILD_DOCKER_FILE: ci/docker/codecov/build.Dockerfile
    DEPLOY_DOCKER_FILE: ci/docker/codecov/deploy.Dockerfile
    BUILD_IMAGE_BASE: "$CI_REGISTRY_IMAGE/codecov-gpu/build:"
    DEPLOY_IMAGE: $CI_REGISTRY_IMAGE/codecov-gpu/deploy:$CI_COMMIT_SHA
    DLAF_WITH_CUDA: 'ON'
    BASE_IMAGE: nvidia/cuda:10.2-devel-ubuntu18.04

notify_github_start:
  stage: build
  allow_failure: true
  only: ['master', 'staging', 'trying']
  tags: ['kubernetes']
  image: stabbles/git-curl
  script: ./ci/set_github_status.sh pending

##
## RUNS
##

.run_common:
  stage: test
  only:
    - master
    - staging
    - trying
  trigger:
    strategy: depend

cpu release test:
  extends: .run_common
  needs:
    - cpu release build
  trigger:
    include:
      - artifact: pipeline.yml
        job: cpu release build

cpu codecov test:
  extends: .run_common
  needs:
    - cpu codecov build
  trigger:
    strategy: depend
    include:
      - artifact: pipeline.yml
        job: cpu codecov build

notify_github_success:
  stage: notify
  when: on_success
  only: ['master', 'staging', 'trying']
  tags: ['kubernetes']
  image: stabbles/git-curl
  script: ./ci/set_github_status.sh success

notify_github_failure:
  stage: notify
  when: on_failure
  only: ['master', 'staging', 'trying']
  tags: ['kubernetes']
  image: stabbles/git-curl
  script: ./ci/set_github_status.sh failure
