#
# Distributed Linear Algebra with Future (DLAF)
#
# Copyright (c) ETH Zurich
# All rights reserved.
#
# Please, refer to the LICENSE file in the root directory.
# SPDX-License-Identifier: BSD-3-Clause
#

name: Welcome First Time Contributor

on:
  pull_request_target:
    types: [opened]
    branches:
      - develop

jobs:
  greeting:
    if: "github.repository == 'eth-cscs/DLA-Future'"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        pr-message: 'Hello, welcome to DLA-Future! Thank you for your contribution. Please add yourself to the `CITATION.cff` file, if you have not done it already.'
